<div class="page-wrap">
  <div class="container">

    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2" style="text-align: center;"
      *ngIf="isResetEmailSent">
      <i class="fa fa-check-circle" style="font-size:150px; color:green"></i>
      <h1>Password Reset Email Sent</h1>
      <p>An email has been sent to {{email}}. Follow the directions in the email to reset your password.</p>
      <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-4">
        <a class="btn btn-lg btn-primary btn-block clearfix" routerLink='/SignIn'>Back To Login</a>
      </div>
    </div>

    <div class="row" *ngIf="!isResetEmailSent">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h2>Forgot your password?</h2>
        Not to worry. Just enter your email address below and we'll send you an instruction email for recovery.
        <form #resetForm="ngForm" (ngSubmit)="onResetPassword(resetForm)">
          <div class="form-group">
            <input type="email" id="email" class="form-control" name="userEmail" placeholder="Username" ngModel
              #username="ngModel" required email>
            <span class="help-block" style="color: red;" *ngIf="username.touched && username.invalid"> Please enter your
              email</span>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-lg btn-danger" [disabled]="username.invalid">Reset Password</button>
          </div>
        </form>
        <div class="text-left">
          <a routerLink='/SignIn'>Back to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
